@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* -------------------- General*/

body {
    background-color: #fafafa;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
}

h3,h5,p {
    margin: 0;
}

row {
    margin-bottom: 20px;
}

row.col {
    padding: 0;
}

.container {
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

hr {
    width: 200px;
    margin-bottom: 5%;
}

a.btn:hover, a.btn:focus {
    filter: brightness(120%);
}

/* -------------------- Header*/
header {
    background-color: #CEF3ED;
    height: 80px;
    padding-top: 15px;
}

#inner-header {
    max-width: 95%;
    margin: auto;
    box-shadow: none;
    background-color: #CEF3ED;
}

nav .brand-logo {
    left: 0%;
    transform: none;
    z-index: 1000;
    width: 30%;
    max-width: 150px;
}

#login-btn {
    background-color: #FFF7AE;
    color: #666666;
    font-size: 13px;
    border-radius: 6px;
    font-weight: 500;
    margin: 0;
    padding: 0 12px;
}

#menu{
    margin: 0;
}

#menu-icon {
    color: #C89F98;
    font-size: 40px;
}

.sidenav {
    width: 100%;
    margin-top:90px;
    text-align: center;
}

/* -------------------- Login/Register modal*/

.modal {
    width: 80%;
}

.modal .modal-content {
    padding: 24px 30px 0px 30px;
}

.modal-content h4 {
    color:#C89F98;
    font-size: 24px;
}
#modal-btn-outer {
    margin-top: 20px;
    width: 30%;
}
#modal-btn-inner {
    background-color:#C89F98;
    color: #666666;
    padding: 6px;
    border: 1px solid #666666;
    border-radius: 6px;
    width: 100%
}

#modal-close {
    color: #666666;
    padding: 0;
    font-size: 30px;
}

.divider {
    margin-bottom: 20px;
}

input#password, input#username {
    width: 95%;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-top: 20px;
    padding-left: 10px;
    height: 2rem;
}

#modal-link {
    font-size: 12px;
    text-transform: capitalize;
    line-height: 1;
    color: #666666;
    padding-left: 10px;
}

#modal-link a {
    display: inline;
    color: #C89F98;
    font-weight:500;
}

.form-row {
    margin-bottom: 10px;
}

/* -------------------- Callout*/

#callout-outer {
    position: relative;
}
#bg-img {
    position: relative;
    width: 100%;
    opacity: 0.7;
}

#overlay-text {
    background-color: #FFF7AE;
    opacity: 0.8;
    color: #666666;
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 65%;
    left: 32%;
    transform: translate(-50%,-50%);
}

#overlay-text h3 {
    font-size:18px;
    font-weight: 500;
}

#overlay-text h5 {
    font-size: 13px;
}

#callout-btns {
    margin-top: 5px;
}

#callout-btns a {
    font-size: 10px;
    font-weight: 500;
    background-color: #C89F98;
    color: #4d4c4c;
    border-radius: 6px;
    display: inline;
    padding: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

/* -------------------- How does it work?*/

.title {
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 500;
}

.title span {
    font-family: 'Kalam', sans-serif;
    font-size: 20px;
    color: #C89F98;
    font-weight: 600;
}

.img-circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.info-title {
    font-weight: 500;
}

.info {
    font-size: 11px;
    width: 65%;
    margin: auto;
    margin-bottom: 20px;
}

/* -------------------- Cuisine carousel */

#carousel-outer {
    width: 85%;
    margin: auto;
}

#my-carousel {
    top: -80px;
}

.carousel-img {
    border-radius: 50%;
}

.carousel-item p {
    color: #fafafa;
    font-size: 14px;
    font-weight: 500;
    background-color: #666666;
    opacity: 0.8;
    padding: 3px 5px 3px 5px;
    border: 1px solid #666666;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* -------------------- Shope Recipe Books*/

#shop-books {
    position: relative;
    width: 85%;
    margin: auto;
    top: -100px;
}

#shop-books-img {
    position: relative;
    width: 100%;
    opacity: 0.7;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#shop-link a {
    font-size: 13px;
    font-weight: 500;
    background-color: #8CE3D5;
    color: #fafafa;
    border-radius: 6px;
    display: inline;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: normal;
}

/* --------------------Footer */
footer {
    position: relative;
    background-color: #CEF3ED;
    min-height: 30px;
    text-align: center;
    padding: 10px 0px;
    margin-top: -50px;
}

footer h6 {
    font-size: 10px;
}

/* --------------------Recipe cards */

.card {
    padding: 10px;
}
#card-container {
    width: 95%;
    margin: auto;
}

.card-content {
    font-size: 10px;
}

#card-info {
    padding: 10px 0px 10px 10px;
    margin: 0;
}

#card-img {
    width: 70%;
    margin: auto;
}

#card-edit, #card-del  {
    font-size: 10px;
    padding: 2px 5px 2px 5px;
    line-height: normal;
    height: 20px;
    margin-bottom: 3px;
    background-color: #F9DCE4;
    color: #666666;
}