#header-inner {
    max-width: 95%;
    margin: auto;
}

nav {
    background-color: #fafafa;
}

#login-btn {
    background-color: #FFF7AE;
    color: #666666;
}

#menu {
    color: #C89F98;
    font-size: 10rem;
}
