<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/404.css" />
  </head>
  <body>
    <div class="container">
      <div class="mainbox">
        <div class="err">4<i class="fa fa-exclamation-circle"></i>4</div>
        <div class="msg">
          oops nothing to see here!
        </div>
        <div class="home">
          <a href="{{ url_for('homepage') }}">home</a>
        </div>
      </div>
    </div>
    <script src="https://use.fontawesome.com/ae383b4410.js"></script>
  </body>
</html>