{% extends "base.html" %}
{% block content %}

    <section class="container">
        <h3 class="add-header" >Add Recipe</h3>

        <!--Form-->
        <div class="row">
            <form id="recipe-form" class="col s12" method="POST" action="">

                <!--Cuisine select-->
                <div class="input-field row form-row">
                    <div class="col s12">
                        <select>
                            <option id="dd-text" value="" disabled selected>Choose Cuisine</option>
                            <option value="1">British</option>
                            <option value="2">Indian</option>
                            <option value="3">Italian</option>
                            <option value="3">Japanese</option>
                            <option value="3">thai</option>
                            <option value="3">Mexican</option>
                        </select>
                    </div>
                </div>

                <!--Recipe name input field-->
                <div class="row form-row">
                    <div class="input-field col s12">
                        <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="50" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                </div>

                <!--Serving text input, time text input and food cat select-->
                <div class="row form-row">
                    <div class="input-field col s3">
                        <input id="recipe_serving" name="recipe_serving" type="text" minlength="1" maxlength="2" class="validate" required>
                        <label for="recipe_serving">Serving</label>
                    </div>
                    <div class="input-field inline col s4">
                        <input id="recipe_time" name="recipe_time" type="number" minlength="1" maxlength="3" class="validate" required>
                        <label for="recipe_time">Time</label>
                    </div>
                    <div class="input-field col s5">
                        <select>
                            <option class="dd-text" value="" disabled selected>Category</option>
                            <option value="1">Starter</option>
                            <option value="2">Main Course</option>
                            <option value="3">Dessert</option>
                            <option value="3">Snack</option>
                        </select>
                    </div>
                </div>

                <!--Age checkbox-->
                <p class="input-field">Ages</p>
                <div class="row form-row">
                    <div class="col s4">
                            <p>
                                <label>
                                    <input type="checkbox" />
                                    <span>6 months</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s4">
                            <p>
                                <label>
                                    <input type="checkbox" />
                                    <span>6-9 months</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s4">
                            <p>
                                <label>
                                    <input type="checkbox" />
                                    <span>6-12 months</span>
                                </label>
                            </p>
                    </div>
                </div>

                <!--Photo-->
                <div class="row form-row">
                    <div class="input-field col s12">
                        <i id="photo-icon" class="material-icons prefix">add_a_photo</i></a>
                        <input id="img-url" name="img-url" type="text" minlength="5" pattern="https://.*" class="validate" required>
                        <label for="img-url"></label>
                        <span class="helper-text" data-error="wrong" data-success="right">To add an image, please enter a valid URL.</span>
                    </div>
                </div>

                <!--Ingredients-->
                <div class="row form-row">
                    <div class="input-field col s12">
                        <textarea id="ingredients" name="ingredients" cols="1" rows= "15" class="materialize-textarea validate" required></textarea>
                        <label for="ingredients">Ingredients</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Add each ingredient on individual line.</span>
                    </div>
                </div>

                <!--Method-->
                <div class="form-row row">
                    <div class="input-field col s12">
                        <textarea id="method" name="method" cols="1" rows= "15" class="materialize-textarea validate" required></textarea>
                        <label for="method">Method</label>
                        <span class="helper-text" data-error="wrong" data-success="right">Add each step on individual line.</span>
                    </div>
                </div>
                <!--Add recipe btn-->
                <button type="submit" name="action">
                    <i class="material-icons">add_circle</i>
                </button>
            </form>
        </div>

    </section>

{% endblock %}