<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
      type="text/css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Wean Cuisine</title>
</head>
<body>

    <!-- Header -->
    <header>
      <nav id="inner-header">
         <div class="nav-wrapper">
            <!-- logo -->
            <a href="{{ url_for('get_recipes') }}" class="brand-logo">
                <img class="responsive-img" src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Wean Cuisine Logo">
            </a>
            <!-- Nav elements -->
            <ul class="nav-btns right">
                <!-- Modal login Trigger -->
                <li><a id="login-btn" class="btn modal-trigger" href="#modal1">Log in</a></li>
                <!-- Modal login Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Log In
                            <a href="#!" id="modal-close" class="modal-close material-icons right">close</a>
                        </h4>
                        <div class="divider"></div>
                        <!-- Username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Enter username" id="username" name="username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Enter password" id="password" name= "password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!-- Link to Register -->
                        <div class="row" id="modal-link">
                            <p class="col s-12">Not registered?<a href="#"><u>Register</u></a>
                            </p>
                        </div>
                        <!-- Submit btn -->
                        <div class="row" id="modal-btn-outer">
                            <button type="submit" id="modal-btn-inner" class="col s-12">
                            LOG IN
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidenav menu Trigger -->
                <li><a href="#" id="menu" data-target="menu-items" class="sidenav-trigger show-on-large"><i id="menu-icon" class="material-icons">menu</i></a></li>
            </ul>
            <!-- Sidenav menu list -->
            <ul id= "menu-items" class="sidenav right">
                <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                <li><a href="#">How does Wean Cuisine work?</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Shop Recipe Books</a></li>
            </ul>
        </div>
      </nav>
    </header>


    <main>
        <!--call out-->
          <img id="bg-img" class="responsive-img" src="{{ url_for('static', filename='assets/images/bg-img.jpg') }}" alt="background">
          <div id="overlay-text">
            <h3>Taste the word</h3>
            <h5>One weany step at a time</h5>
            <div id="callout-btns">
                <a class="btn" href="#">Explore recipes</a>
                <a class="btn" href="#">Add recipe</a>
            </div>
          </div>
          <div class="container">
            <h4 class="title" >How does <span>Wean Cuisine</span> work?</h4>
            <div class="center-align">
                <img class="img-circle" src="{{ url_for('static', filename='assets/images/connect.png') }}" alt="connect">
                <p>Connect</p>
            </div>
            <br>
            <div class="center-align">
                <img class="img-circle" src="{{ url_for('static', filename='assets/images/bg-img.jpg') }}" alt="explore">
                <p>Explore</p>
            </div>
            <br>
            <div class="center-align">
                <img class="img-circle" src="{{ url_for('static', filename='assets/images/bg-img.jpg') }}" alt="share">
                <p>Share</p>
            </div>
          </div>
    </main>
  

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
     {% block scripts %}
    {% endblock %}
</body>
</html>
