{% extends "base.html" %}
{% block content %}


    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.cuisine_name }}<br>
        {{ recipe.recipe_serving }}<br>
        {{ recipe.recipe_time }}<br>
        {{ recipe.food_category }}<br>
        {{ recipe.age_range }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>

    <div id="card-container">
        <div class="row">
            <div class="col s6 m4 l3">
                <div href="" class="card">
                    <div class="card-image" id="card-img">
                        <img src="{{ url_for('static', filename='assets/images/connect-icon.png') }}">
                    </div>
                    <div id="card-info" class=" row card-content">
                        <div class="col s6">
                            <p><strong>{{ recipe.recipe_name }}</strong></p>
                            <p>username</p>
                            <p><i class="fas fa-globe"></i>{{ recipe.cuisine_name }}</p>
                        </div>
                        <div id="card-btns" class="col s6"></div>
                            <a href="#" id="card-edit" class="btn">Edit</a>
                            <a href="#" id="card-del" class="btn">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col s6 m4 l3">
                <div href="" class="card">
                    <div class="card-image" id="card-img">
                        <img src="{{ url_for('static', filename='assets/images/connect-icon.png') }}">
                    </div>
                    <div id="card-info" class=" row card-content">
                        <div class="col s6">
                            <p><strong>{{ recipe.recipe_name }}</strong></p>
                            <p>username</p>
                            <p><i class="fas fa-globe"></i>{{ recipe.cuisine_name }}</p>
                        </div>
                        <div id="card-btns" class="col s6"></div>
                            <a href="#" id="card-edit" class="btn">Edit</a>
                            <a href="#" id="card-del" class="btn">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}