{% extends "base.html" %}
{% block content %}


    {% for recipe in recipes %}
        {{ recipe.recipe_name }}<br>
        {{ recipe.cuisine_name }}<br>
        {{ recipe.recipe_serving }}<br>
        {{ recipe.recipe_time }}<br>
        {{ recipe.food_category }}<br>
        {{ recipe.age_range }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>

    <section class="container" id="page-callout">
            <img id="page-img" src="{{ url_for('static', filename='assets/images/recipes-img.jpg') }}" alt="background">
            <div id="page-overlay-text">
                <!--Page Title-->
                <h3>Recipes</h3>
                <!--Add recipes btn-->
                <a class="btn" href="#">Add recipe <i class="material-icons">add_circle_outline</i> </a>
                <!--Search bar-->
                <div id="search-bar" class="row card-panel grey lighten-5">
	                <form action="#" method="POST" class="col s8">
		                <div id="input-outer" class="row valign-wrapper center-align">
			                <div class="input-field col s10">
				                <input type="text" name="query" id="query" minlength="3" class="validate" required>
				                <label for="query">Search Recipes</label>
			                </div>
                            <!--Search btn-->
                            <div class="col s2">
				                <button id="search-btn" type="submit">
                                    <i class="material-icons">search</i>
                                 </button>
                            </div>
		                </div>
	                </form>
                </div>
             </div>
    </section>

    <div id="card-container">
        <div class="row">
            <div class="col s6 m4 l3">
                <div href="" class="card">
                    <div class="card-image" id="card-img">
                        <img src="{{ url_for('static', filename='assets/images/fish-and-chips.jpg') }}">
                    </div>
                    <div id="card-info" class=" row card-content">
                        <div class="col s12">
                            <p id="card-title"><strong>{{ recipe.recipe_name }}</strong></p>
                            <p>By username</p>
                            <p><i class="fas fa-globe"></i> {{ recipe.cuisine_name }}</p>
                        </div>
                        <div id="card-btns">
                            <div id="card-edit-row" class="col s12">
                                <a href="#" id="card-edit" class="btn right">Edit</a>
                            </div>
                            <div id="card-delete-row" class="col s12">
                                <a href="#" id="card-del" class="btn right">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}